/*This controls everything for the whole HTML page. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
}
/*This controls the header element*/
header {
  background-color: darkolivegreen;
  padding: 20px;
  border-bottom: 15px solid wheat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Centererd the h1 on the cross access and made this an inline block opposed to a block*/
h1 {
  font-size: 2.5rem;
  margin: 15px;
  align-content: center;
  display: inline-block;
}

/*Marked aside as a flexbox, changed the direction from row to column and then I have the text wrap on itself followed by centering it on the cross axis*/
aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 30vw !important;
}
/* My instructor told me not to use !important tags but my tutor told me to put it here as well with the media's so I was confused whether to keep them or not?*/

/*Used to center all imgs and put margins on for 1rem which equals 20px*/
img {
  align-self: center;
}

/* Aligns all headers expect h1 to the center with a margin of 1rem or eaual to 20px*/
h2,
h3,
h4 {
  text-align: center;
  margin-top: 1rem;
}

/*Sets the nav bar to float right with no bullet points and has a font size of 40px with a margin above it of 50px*/
nav {
  font-size: 2rem;
  list-style-type: none;
  margin-top: 50px;
}

/*Font and margin size setting for the list inside the Nav bar, also confirming its an inline block*/
nav ul li {
  display: inline;
  margin-left: 15px;
  font-size: 1.2rem;
}

/*Creating the ablitiy that whenever I float over the NAV bar links they gain a inset box shadow and get a little bigger*/
nav a:hover {
  font-size: 150%;
  border: 2px solid black;
  box-shadow: inset 3px 3px 10px black;
}
/*Causing all images to have box shadwo when Im hovering over with my mouse*/
img:hover {
  box-shadow: 5px 5px 15px black;
}
/*color and background color for the article*/
article {
  background-color: darkolivegreen;
  color: wheat;
}
/*Added a hover ability*/
article:hover {
  box-shadow: 10px 10px 5px wheat;
}

/*Worked on footer*/
footer {
  background-color: darkolivegreen;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 10%;
  color: wheat;
  font-size: 1.5rem;
}
/*updating margins*/
li {
  margin-left: 15px;
}

/*Needed main to be a flex to control it better*/
main {
  display: flex;
}

/*Updating margins*/
.about {
  margin: 0 40px;
}

/*Updating margins*/
#container p {
  margin-left: 10px;
}

/*Updating margins and width of the main section which includes my information*/
#main {
  margin: 10px 10px 0px 15px;
  width: 66vw;
}
/*Updating borders and margin and colors for the projects*/
#projects {
  margin: 10px 10px 20px 15px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: darkolivegreen;
  color: wheat;
  box-shadow: 5px 10px 15px wheat;
}
/*Updating margins and height for my img's*/
.img-info {
  width: 15%;
  height: 15%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px gray;
}

/*Updating container as a flex to help align my items*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*floating items left to make it look nice and adjusting sizes*/
.column {
  width: 50%;
  height: 100vh;
  float: left;
}
/*setting a class to decide what i want a flex to be*/
.flex {
  display: flex;
}
/*using for the projects bar*/
.flex div {
  margin: 10px;
}
/*adding border radius to img*/
.prework {
  height: 20vh;
  border-radius: 15px;
}

/*adding border radius to img*/
/* My instructor told me not to use !important tags but my tutor told me to put it here as well with the media's so I was confused whether to keep them or not?*/
.bootcamp {
  width: 97% !important;
  border-radius: 15px;
}
/*adding width to take up the whole aspect to img*/
#projects img {
  width: 100%;
}
/*updating the me section*/
.me {
  border: 0.2rem solid black;
  border-radius: 10px;
  margin: 0.5rem 0px;
  min-height: 33vh;
}
/*updating the extra sections*/
.extra {
  border: 0.2rem solid black;
  margin: 5rem 0px;
  border-radius: 10px;
  min-height: 20vh;
}
/* My instructor told me not to use !important tags but my tutor told me to put it here as well with the media's so I was confused whether to keep them or not?*/
section {
  height: 100% !important;
}
/*media screens for different sizes and how my website will proportion itself*/
@media only screen and (max-width: 2000px) {
  .flex {
    display: block;
  }
  .flex img {
    background-size: contain;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    display: block;
  }

  aside {
    width: 96% !important;
    height: 100% !important;
  }
  .prework {
    height: 100% !important;
  }
  #main {
    width: 97%;
  }
}
